# Dependencias
node_modules/

# Variables de entorno y llaves
.env
.env.*
!.env.example
*.pem
*.key

# Construcción
dist/
build/

# Registros
*.log
npm-debug.log*

# Sistema operativo y editor
.DS_Store
Thumbs.db
.vscode/
.idea/
docs/
